# Terraform
**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/errored.tfstate

# Secrets — never commit
**/terraform.tfvars

# Plans
*.tfplan

# OS
.DS_Store
CREDENTIALS.txt
helm/monitoring/Chart.lock
helm/monitoring/charts/
